{% extends "basecount.html" %} {% block content %}

<h2>Upload a photo</h2>

<div class="container p-3 my-3 border">
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
        <select name="choose" id="choose">
          <option value="count">Count</option>
          <option value="classify">Classify</option>
        </select>
    </form>
<div class="row">
 <div class="col-md-4">
    <div class="image-section" style="display:none;">
        <h4>Preview</h4>
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Get Result</button>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="loader" style="display:none;"></div>
    <h3 id="result">
        <span> </span>
    </h3>
    </div>
</div>

{% endblock %}

